<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luke.unoplacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.InicioActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.JogadoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PlacarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PontuarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.NovoJogadorActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activitys.SobreActivity"></activity>
    </application>

</manifest>